<div class="sharing-container">
  Please update the sharing privileges by clicking on the corresponding checkboxs<br />
  <b>V=</b> means that the user can view, <b>D=</b> download, <b>R=</b> remove.<br />
  Changes are authomatically closed and the window can be closed through the ESC keyboard button<br /><br />

  <table class="sharing-table" border="1">
    <thead>
      <td></td>
      <td *ngFor="let process of sortedLogs"><b>{{process}}</b></td>
    </thead>
    <tr *ngFor="let user of sortedUsers">
      <td><b>{{user}}</b></td>
      <td *ngFor="let process of sortedLogs">
        V=<input type="checkbox" [checked]="userLogVisibilities[user][process]['visibility']" (change)="changeVisibility(user, process)">
        D=<input type="checkbox" [checked]="userLogVisibilities[user][process]['downloadable']" (change)="changeDownloadable(user, process)">
        R=<input type="checkbox" [checked]="userLogVisibilities[user][process]['removable']" (change)="changeRemovable(user, process)">
      </td>
    </tr>
  </table>
</div>

<style>
  .sharing-container {
    height: 370px;
    width: 780px;
    overflow: visible;
    font-size: 7pt;
  }
</style>
