.mat-toolbar {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  min-height: 35px;
  background: none;
  margin-bottom: 15px;
}
.mat-toolbar-row {
  width: 100%;
  height: 35px;
  padding: 0;
}
.layout--space {
  flex: 1 1 auto;
}
.model-info-box {
  box-sizing: border-box;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin-right: 15px;
}
.model-info-box__label {
  box-sizing: inherit;
  padding: 0 8px 0 8px;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 12px;
  color: #263238;
  background-color: #EDEEF0;
  border: 1px solid #f0f1f3;
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.model-info-box__value {
  box-sizing: inherit;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #263238;
  padding: 0 8px 0 8px;
  border: 1px solid #f0f1f3;
  border-radius: 0 3px 3px 0;
  border-left: 0;
  background-color: #fff;
  min-height: 34px;
  min-width: 34px;
}
.model-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #f0f1f3;
  border-radius: 3px;
}
.cdk-overlay-pane {
  transform: translateX(0) translateY(20px) !important;
}
.mat-select-panel {
  min-width: 112px !important;
  max-width: 250px !important;
  background: #FFFFFFE3 !important;
  font-size: 12px !important;
}
.mat-form-field {
  line-height: .8em;
.mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-infix {
      padding: 0;
    }
  }
.mat-form-field-underline {
    display: none;
  }
}
.icon-button--cursor {
  cursor: pointer;
}
.model__button-box {
  position: absolute;
  z-index: 5;
  right: 0;
}
.model__button-box button{
  display: inline-block;
  width: auto;
  height: 24px;
  font-size: .7rem;
  font-weight: normal;
  line-height: 24px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 5px;
  margin-bottom: 2px;
}
.settings-container {
  box-sizing: border-box;
  padding: 1em;
  display: inline-flex;
  flex-direction: column;
}
.settings-container > div {
  box-sizing: border-box;
  flex: 1;
  min-width: 200px;
}
.mat-grid-tile .mat-figure {
  justify-content: space-between !important;
}
.layout--flex {
  display: flex !important;
}
.radio-button--small .mat-radio-container {
  height: 15px;
  width: 15px;
}
.radio-button--small .mat-radio-outer-circle {
  height: 15px;
  width: 15px;
}
.radio-button--small .mat-radio-inner-circle {
  height: 15px;
  width: 15px;
}


.links line {
  stroke: #9b9b9b;
}

.nodes circle {
  fill: #FFF;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.nodes rect {
  fill: #FFF;
  stroke: rgb(0, 0, 0);
  stroke-width: 1.5px;
}
.links text {
  font: 12px sans-serif;
  margin-left: 12px;
}

.nodes {
  font: 12px sans-serif;
  margin-left: 12px;
}

.rectnodes {
  font: 12px sans-serif;
  margin-left: 12px;
}
