<div class="row">
  <div class="col-3">
  Attribute X:
    <mat-select placeholder="Attribute X" [(value)]="attribute_x" (selectionChange)="selectedAttributeXChanged($event)">
    <mat-option
            *ngFor="let option of attributesList"
            value="{{ option }}">
      {{ option }}
    </mat-option>
    </mat-select>
  </div>
  <div class="col-3">
    &nbsp; Attribute Y:
    <mat-select placeholder="Attribute Y" [(value)]="attribute_y" (selectionChange)="selectedAttributeYChanged($event)">
    <mat-option
            *ngFor="let option of attributesList"
            value="{{ option }}">
      {{ option }}
    </mat-option>
    </mat-select>

  </div>
  <div class="col-3">
      &nbsp; Attribute Color:
    <mat-select placeholder="Attribute Color" [(value)]="attribute_color" (selectionChange)="selectedAttributeColorChanged($event)">
    <mat-option
            *ngFor="let option of attributesList"
            value="{{ option }}">
      {{ option }}
    </mat-option>
  </mat-select>
  </div>
  <div class="col-3">
    <button (click)="getEventsForDotted()">Draw Dotted</button>
  </div>
</div>
<div *ngIf="graph_defined">
  <plotly-plot [data]="graph.data" [layout]="graph.layout" id="plotlyPlot" (initialized)="plotInitialized()"></plotly-plot>
</div>

